script(src='js/research.js')
div#Research
    input(type="search" id="GoogleTicker" size="10" list="tickers" placeholder='Ticker' onkeyup="$('#YahooTicker').val(this.value);return true;" onkeypress="if (event.keyCode==13) { search_security($('#GoogleTicker').val(), $('#YahooTicker').val(), $('#Country').val()); loading.show(); } return true;")
    datalist#tickers
        option 1y1y
        option 1y2y
        option 5y2y/7y3y
        option 2y1y/3y1y
        option 2y1y/3y2y
        option 3y1y/4y1y
        option 3y2y/5y2y
        option 10y2y/12y3y
        option 2y/5y/10y
        option 2t/5t/10t
        option u2y/u5y/u10y
        option u2t/u5t/u10t
        option 2y/5y/10y/u2y/u5y/u10y
        option(value="042601_F_ALL") TU Leveraged
        option(value="044601_F_ALL") FV Leveraged 
        option(value="043602_F_ALL") TY Leveraged 
        option(value="043607_F_ALL") UXY Leveraged
        option(value="020604_F_ALL") WN Leveraged
        option(value="132741_F_ALL") ED Leveraged
        option(value="132741_FO_ALL") ED+Opt Leveraged
        option(value="090741_F_ALL") CAD Leveraged
        option(value="124603_F_ALL") DJIA Leveraged
    input(type="hidden" id="YahooTicker" size="8" placeholder='Yahoo Ticker' onkeypress="if (event.keyCode==13) { search_security($('#GoogleTicker').val(), $('#YahooTicker').val(), $('#Country').val()); loading.show(); } return true;")
    input(type="search" id="Country" size="15" list="exchanges" value="K2" placeholder='Country' onkeypress="if (event.keyCode==13) { search_security($('#GoogleTicker').val(), $('#YahooTicker').val(), $('#Country').val()); loading.show(); } return true;")
    datalist#exchanges
        option K2
        option CFTC
        option United States
        option TSE
        option MUTF_CA
        option INDEXSP
        option INDEXDJX
        option INDEXNASDAQ
        option INDEXTSI
    button(type="button" onclick="search_security($('#GoogleTicker').val(), $('#YahooTicker').val(), $('#Country').val()); $('#GoogleTicker').select(); loading.show(); return true;") >
    select(id="ResearchComparison",data-placeholder="Style")
        option(value="No") NoCompare
        option(value="Same") SameAxis
        option(value="Opposite") OppoAxis
    select(id="ResearchPlotStyle",data-placeholder="Style")
        option(value="1") Value 
        option(value="2") %
        option(value="3") Candle
    button(type="button" id="ResearchDownload") Download
    input(type="number" id="ResearchMA" min="1" style="width: 40px;" placeholder="DMA" onchange="return research_addMA();")
    input(type="number" id="ResearchHistVolPeriod" value="" min="2" style="width: 40px;" placeholder="NDVol" onchange="return research_addHistVol();")
    input(type="text" id="ResearchMACD" size="10" value="12,26,9" placeholder="MACD" onchange="return research_onmacd();")
    select(id="ResearchTechnical",data-placeholder="Technical Analysis",multiple,style="display:none")
        option(value="Fibonacci") Fibonacci
        option(value="Bollinger") bollinger
    div#ResearchAccordion
        h3 Financials
        div
            div#FinancialsTabView
                ul
                    li
                        a(href='#FinancialsOverview') Overview
                    li
                        a(href='#FinancialsProfitMargin') Profit Margin % of Sales
                    li
                        a(href='#FinancialsProfitability') Profitability
                    li
                        a(href='#FinancialsGrowth') Growth
                    li
                        a(href='#FinancialsCashflow') Cashflow Ratios
                    li
                        a(href='#FinancialsBalanceSheet') Balance Sheet (%)
                    li
                        a(href='#FinancialsLiquidity') Liquidity (%)
                    li
                        a(href='#FinancialsEfficiency') Efficiency (%)
                div#FinancialsOverview
                    div#FinancialsOverviewChart(style="width: 90%")
                div#FinancialsProfitMargin
                    div#FinancialsProfitMarginChart(style="width: 90%")
                div#FinancialsProfitability
                    div#FinancialsProfitabilityChart(style="width: 90%")
                div#FinancialsGrowth
                    div#FinancialsGrowthChart(style="width: 90%")
                div#FinancialsCashflow
                    div#FinancialsCashflowChart(style="width: 90%")
                div#FinancialsBalanceSheet
                    div#FinancialsBalanceSheetChart(style="width: 90%")
                div#FinancialsLiquidity
                    div#FinancialsLiquidityChart(style="width: 90%")
                div#FinancialsEfficiency
                    div#FinancialsEfficiencyChart(style="width: 90%")
        //h3 Holdings 
        //div 
        //    table#ResearchHoldings.display.compact(cellpadding="0" cellspacing="0" border="0" align="center" width='80%')
        //        thead
        //            tr
        //                th Holding
        //                th(width='50px') Weight
        //                th(width='25px') 1d 
        //                th(width='25px') 10d 
        //                th(width='25px') 20d 
        //                th(width='25px') 100d 
        //            tbody
        //        tfoot
        //            tr
        //                th
        //                th(align="right")
        //                th(align="right")
        //                th(align="right")
        //                th(align="right")
        //                th(align="right")
        h3 Charting
        div
            table#security.dispaly(width="60%",cellpadding="0",cellspacing="0",border="0",align='center')
                thead
                    tr
                        th(width="10%") Ticker
                        th Name
                        th(width="10%") Exchange
                        th(width="30%") Sector
                        th(width="10%") Price
                tbody
            br
            div#myChart(style="width: 95%")
